.bg-img{
    background-image: url(img/2.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    text-align: center;
    background-size: cover;
    align-items: center;
    min-height: 90vh;
}