.demo{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.slid img{
    height: 750px;
    width: 100%;
}
.about h1{
    color: rgb(255, 0, 0);
    text-align: center;
}
.about p{
    color: rgb(0, 0, 0);
}
.about{
    border: 5px solid rgb(255, 0, 0);
}
.comm h1{
    border: 2px dashed rgb(35, 238, 16);

}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
.IMG img{
    width: 100%;
}  
.flex-container{
    display: flex;
}
.flex-container img{
    height: 350px;
    width: 350px;
}

.parent{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

@media screen and (max-width:800px) {
    .parent{
        grid-template-columns: auto auto;
       

    }
        
}
@media screen and (min-width:1500px) {
    .parent{
        grid-template-columns:auto auto auto auto auto auto;
       

    }
        
}
.parent img{
    height: 300px;
}
.parent .product{
    border: 1px solid black;
}
.container{
    border: 10px solid black;
    width: 100%;
    height: 100vh;
    background-color:pink;
}

@media screen and (max-width:250px) {
    .container{
        background-color: rgb(255, 187, 0);
    } 
}

.co-1{
    display: grid;
    grid-template-columns: auto auto;
}

@media screen and (max-width:500px) {
    .co-1{
        grid-template-columns: auto;
    } 
}
.logo img{
    height: 40px;
    width: 40px;
    float: right;
    margin-bottom: 20px;
}
.text-img{
    display: grid;
    grid-template-columns: auto auto;
}
@media screen and (max-width:500px) {
    .text-img{
        grid-template-columns: auto;
    } 
}
.footer{
    display: grid;
    border: 5px solid black;
    grid-template-columns: auto auto auto auto;
}
.details{
    border: 2px solid black;
}

@media screen and (max-width:500px) {
    .footer{
        grid-template-columns: auto;
    } 
}